<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="info">
      <div class="left-box">Strike a key to <br>
        see how a major triad <br>
        is contructed👇
      </div>
      <div class="right-box">
        <div>
          Augmented triad is made of a major 3rd and a augmented 5th.<br>
          <br>
          <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">
            See usage in masterpiece
          </button>
        </div>
      </div>
    </div>
    <div class="display-inversion"></div>
    <%= render 'shared/piano' %>
  </div>
</div>



<!-- Modal -->
<% name = "Augmented Triad" %>
<% link =  "https://www.youtube.com/watch?v=KB59i99Wxc4&ab_channel=AshishXiangyiKumar" %>
<% image_path = "prelude.png" %>
<% piece = "Prelude in C major" %>
<%= render 'shared/modal', name: name, link: link, image_path: image_path, piece: piece %>
