<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="info">
      <div class="left-box">
        <div class="words" style="padding: 3px">
          Strike a key to <br>
          see how the dominant 7th chord <br>
          is contructed👇
        </div>
        <div class="show-notes">

        </div>
      </div>
      <div class="right-box" style="padding: 3px">
        <div>
          Dominant 7th chord is by far the most common 7th chord used in compositions 🎶<br>
          It’s made of a major 3rd, a perfect 5th, and a minor 7th. Note that the major 3rd and the minor 7th forms a tritone.<br>
          <br>
          <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">
            See usage in masterpiece
          </button>
        </div>
      </div>
    </div>
    <%= render 'shared/piano' %>
  </div>
</div>




<!-- Modal -->

<% name = "Dominant 7th!" %>
<% link =  "https://www.youtube.com/watch?v=Ugc5FZsycAw&t=3701s&ab_channel=FelicesCantusBach" %>
<% image_path = "prelude.png" %>
<% image_width = "800px" %>
<% piece = "Pelude in C major, Bach" %>
<%= render 'shared/modal', name: name, link: link, image_path: image_path, piece: piece, image_width: image_width %>

