<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="info">
      <div class="left-box">Strike a key to <br>
        see how a major triad <br>
        is contructed👇
      </div>
      <div class="right-box">
        <div>
          Dominant 7th chord is by far the most common 7th chord used in compositions.🎹<br>
          It’s made of a major 3rd, a perfect 5th, and a minor 7th. Note that the major 3rd and the minor 7th forms a tritone.<br>
          <br>
          <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">
            See usage in masterpiece
          </button>
        </div>
      </div>
    </div>
    <%= render 'shared/piano' %>
  </div>
</div>



<!-- Modal -->
<% name = "Dominant 7th Chord: Third Bar!" %>
<% link =  "https://www.youtube.com/watch?v=KB59i99Wxc4&ab_channel=AshishXiangyiKumar" %>
<% image_path = "prelude.png" %>
<% piece = "See Sir Andras Schiff play Prelude in C Major, Bach" %>
<%= render 'shared/modal', name: name, link: link, image_path: image_path, piece: piece %>
