<!-- <div class="top-part"></div> -->
<%= render 'shared/navbar' %>

<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>

  <div class="box">
    <div class="info">
      <h1>🦄 Please press a note 🦄</h1>
      <div class="open-btn">
        <button id="open">See usage in masterpiece</button>
      </div>
    </div>
    <%= render 'shared/piano' %>
  </div>

</div>

<div class="pop-up">
  <div id="videobox" class="videobox" >
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
     <%= image_tag 'prelude.png', alt: "logo", style: 'height:100%;width:auto;' %>
    <div class="pieces">
      <a href="https://www.youtube.com/watch?v=Ugc5FZsycAw&t=3701s&ab_channel=FelicesCantusBach" target="_blank">Pelude in C major, Bach</a>
    </div>
    <button id="close">Close me</button>
  </div>
</div>




