<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="info">
      <div class="left-box">
        <div class="words">
          Strike a key to <br>
          see how a major triad <br>
          is contructed👇
        </div>
        <div class="show-notes">
          C d#
        </div>
      </div>
      <div class="right-box">
          Perfect 4th represents the elegancy of classicals.👑<br>
          It’s made of 5 semitones above the root.<br>
      </div>
    </div>
    <%= render 'shared/piano' %>
  </div>
</div>
