<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="info">
      <div class="left-box">
        <div class="words" style="padding: 0">
          Strike a key to <br>
          see how a major triad <br>
          is contructed👇
        </div>
        <div class="show-notes">

        </div>
      </div>
      <div class="right-box">
        <div>
          Tritone is the 👿 chord with an inherent dissonance. <br> In the Middle Ages, it was referred to as <strong><em >diabolus in musica</em></strong> - the devil in music, and was foridden in compositions.<br>
          It’s made of 3 tones above the root.<br>
          <br>
          <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">
            See usage in masterpiece
          </button>
        </div>
      </div>
    </div>
    <%= render 'shared/piano' %>
  </div>
</div>


<!-- Modal -->
<% name = "All tritones!" %>
<% link =  "https://www.youtube.com/watch?v=KB59i99Wxc4&ab_channel=AshishXiangyiKumar" %>
<% image_path = "dante.png" %>
<% image_width = "auto" %>
<%= render 'shared/modal', name: name, link: link, image_path: image_path, piece: "See Mikhail Pletnev play Dante Sonata, Listz", image_width: image_width %>

