<!-- tritone.html.erb -->
<%= render 'shared/navbar' %>

<h1>Please press a note~</h1>

<a href="https://www.youtube.com/watch?v=KB59i99Wxc4&ab_channel=AshishXiangyiKumar" style="color: #FFA2A2; text-decoration: none;" target="_blank">Dante Sonata, Liszt</a>

<%= render 'shared/piano' %>

