<!-- tritone.html.erb -->
<h1>Playing tritone here...</h1>
<% @notes.each do |note| %>
  <%= "#{note.number}:   #{note.name} | " %>
<% end %><br>



<% @results.each do |note| %>
  <%= "#{note.name}" %>
<% end %><br>




