// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// #000000
// #011783
// #a2115e
// #e64c4c
// #52548e
// #821c1c
// #232259
// #292886
// #301311
// #9d953f
// #018071
// #002b55
// #003337
// #0000a0
// #79322c
// #000000
// #112e94
// #3a3a3a
// #0b0b0b
// #20342b
// #646568
// #003a57
// #de6100
// #808080
// #474a68
// #0080c0
// #713333
// #00004f
// #9d0000
// #000000
// #216d72
// #00553e
// #5180ae
// #525252
// #550006
// #000000
// #bc3730
// #6c2e00
// #c16100
// #0b0b0b
// #862231
// #0b0b0b
// #800000
// #000000
// #c06101
// #0b0b0b
// #0b0b0b
// #0b0b0b
// #1f3e00
// #0b0b0b
// #4f0000
// #0b0b0b
// #0b0b0b
// #0b0b0b
// #5978aa
// #0b0b0b
// #0b0b0b
// #c03303
// #0b0b0b
// #0b0b0b
// #7c71b7
// #0b0b0b
// #0b0b0b
// #be9b23
// #312e5a
// #224227
// #005329
// #626262
// #0b0b0b
// #0b0b0b
// #0b0b0b
// #0b0b0b
// #0b0b0b
// #400000
// #0b0b0b
// #0b0b0b
// #243768
// #4c0405
// #0b0b0b
// #0b0b0b
// #000040
// #0b0b0b
// #0b0b0b
// #807c3c
// #3e1f00
// #0b0b0b
// #0b0b0b
// #8e7953
// #1c3729
// #0b0b0b
// #0b0b0b
// 2013 Alexander McQueen Svaile Row

