*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  transition: all 200ms;
}

.overall-container {
  display: flex;
  margin-top: 50px;
}

#right-half {
  border: 1px solid black;
  display: inline-block;;
}

.box-pink {
  border: 1px solid pink;
  background-color: #F9F3F3;
  margin-left: 200px;
  width: fit-content;
  padding: 20px 50px 20px 50px;
  font-size: 25px;
  color: grey;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #F9F9F9;
  height:250px;
  text-align: center;
}

.welcoming-words {
  border: 1px solid yellow;
  color: #E93B81;
  font-weight: 500;
  margin-bottom: 20px;
}

.background-perfect {
  background-color: #550006;
}

.background-major {
  background-color: #c16100;
}

.background-minor {
  background-color: #003a57;
}

.background-purple {
  background-color: #52548e;
}

.background-green {
  background-color: #9d953f;
}

.background-tritone {
  background-color: #3a3a3a;
}

.text-white {
  a {
    color: white;
  }
}

.text-pink {
  color: #E93B81;
}
