 /*Specific CSS for your home-page*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  margin: 0;
  transition: all 200ms;
}

.guiding {
  color: #E93B81;
}

.overall-container {
  display: flex;
}

.box {
  width:100%; //same as piano
  height:500px;
  padding-top:5em;
  //border: 1px solid yellow;
}

.opening-words {
  padding-left: 0 !important;
  font-size: 25px;
  color: grey;
  text-align: center;
  padding-top: 2.5em;
}

.background-perfect {
  background-color: #550006;
}

.background-major {
  background-color: #c16100;
}

.background-minor {
  background-color: #003a57;
}

.background-purple {
  background-color: #52548e;
}

.background-green {
  background-color: #9d953f;
}

.background-tritone {
  background-color: #3a3a3a;
}

.text-white {
  color: white;
  a {
    color: white;
  }
}
