// Specific CSS for your home-page
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  margin: 0;
}

.overall-container {
  display: flex;
}

.box {
  width:750px; //same as piano
  height:500px;
  padding-top:5em;
  // border: 1px solid yellow;
}

.background-black {
  background-color: black;
}


.background-pink {
  background-color: pink;
}




