body {
	background-color: white;
}

#below-navbar {
	align-items: center;
	justify-content: center;
	display: flex;
}

#left-block {
	display: inline-block;
	text-align: left;
	margin-right: 100px;
}

#titile-big {
	font-size: 60px;
	color: #2E294E;
}

#title-small {
	font-size: 20px;
	color: #737070;
	margin-bottom: 25px;
}


#landing-page-pic {
	border-radius: 20px;
	width: 500px;
	height: 500px;
	margin-top: 3em;
	align-items: flex-start;
}
