<h1>New Piece 😇</h1>


  <button class="home-btn" id="start-save">
    Start to store
  </button>

  <button class="home-btn" id="theme-done">
    I am done!
  </button>

  <div class="my-record">
  </div>

<%= render 'shared/piano' %>
