<script aync src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div id="right-half">
    <div class="box-pink">
      <div class="welcoming-words">
        👋 👋 👋 <br>
        ✨ Feeling like composing ✨<br>
      </div>
      <button class="btn-unicorn"><%= link_to "Compose a theme", compose_path %></button>
      <button class="btn-unicorn"><%= link_to "Hear my themes", index_path %></button>
    </div>
    <%= render 'shared/piano' %>
  </div>
</div>



