<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="opening-words">
      <div class="wave">👋 👋 👋</div>
      <div class="guiding">✨ Feeling like composing ✨</div>
        <!-- <h5>New Piece 😇</h5>
 -->
      <div class="compose-CRUD">
        <button class="home-btn" id="start-save">
              Start to store
        </button>

        <button class="home-btn" id="restart">
              Restart
        </button>

        <button class="home-btn" id="theme-done">
          I am done!
        </button>
      </div>
        <div class="my-record">
        </div>



    </div>
    <%= render 'shared/piano' %>
  </div>

</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
