<script aync src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div id="right-half">
    <div class="box-pink">
      <div class="welcoming-words">
        👋 👋 👋 <br>
        ✨ Feeling like composing ✨<br>
      </div>
      <button class="btn-unicorn" id="start-save">Start to store</button>
      <button class="btn-unicorn" id='restart'>Restart</button>
      <button class="btn-unicorn" id='done'>I am done!</button>
    </div>
    <div class="my-record"></div>
    <%= render 'shared/piano' %>
  </div>
</div>
