<script aync src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div id="right-half">
    <div class="box-pink">
      <div class="welcoming-words">
        👋 👋 👋<br>
        ✨ Hear your themes: ✨<br>
      </div>
      <div id="ting">
        Let's hear your <em>latest</em> theme 🎵:<br>
        <button id="ting-btn">PLAY</button>
      </div>
<!--
      <div id='view-theme'>
        Or, view all your themes 🙌:
         <button id="view-btn">VIEW</button>
      </div> -->
    </div>
    <div class="my-record"></div>
    <%= render 'shared/piano' %>
  </div>
</div>
