<div class="banner row w-full">
  <div class="col-lg-12 col-md-6 col-sm-4 d-flex justify-content-between">
    <div class="logo flex-shrink-0">
      <%= image_tag 'logo.jpg', alt: "logo", class: "my-logo"%>
    </div>

    <div class="nav-bar">
      <ul class="nav-links">
        <li>Rhythm</li>
        <li>Melody</li>
        <li>Harmony</li>
        <li>Tone colour</li>
        <li>Musical form</li>
      </ul>

      <ul class="login-links">
          <li class="login">Create user</li>
          <li class="login">login</li>
      </ul>
    </div>

  </div>
</div>
