<div class="banner row w-full">
  <div class="col-lg-12 col-md-6 col-sm-4 d-flex justify-content-between">
    <div class="logo flex-shrink-0">
      <%= image_tag 'logo.png', alt: "logo", class: "my-logo"%>
    </div>

    <div class="nav-bar">
      <ul class="nav-links">
        <li>Piano</li>
        <li>All harmonies</li>
        <li>About us</li>
      </ul>

      <ul class="login-links">
        <div class="pink-oval">
          <li class="login">Create user</li>
        </div>

        <div class="pink-oval">
          <li class="login">login</li>
        </div>
      </ul>
    </div>
  </div>         
</div>
