<nav class="navbar sticky-top navbar-light bg-white">
  <%= image_tag 'logo.png', alt: "logo", class: "logo-pic"%>
  <ul class="login-links">
    <li class="pink-btn">Create user</li>
    <li class="pink-btn">login</li>
  </ul>
</nav>
