<div class="vertical-bar">
  <div class="choice-btn" id="home">
    <%= link_to "home", root_path %>
  </div>
  <div class="choice-btn" id="major_triad">
    <%= link_to "major triad", major_triad_path %>
  </div>
  <div class="choice-btn" id="tritone">
    <%= link_to "tritone", tritone_path %>
  </div>
</div>
