<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>
  <div class="box">
    <div class="opening-words">
      <div class="wave">👋 👋 👋</div>
      <div class="guiding">✨ Strike a few notes ✨<br>
        Or, choose a chord/interval on the left<br>
        <%= render 'shared/compose_btn' %>
      </div>
      <div class="show-notes"></div>
    </div>
    <%= render 'shared/piano' %>
  </div>

</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
