<h1>homeee</h1>
  <%= link_to "major triad", major_triad_path %><br>
  <%= link_to "tritone", tritone_path %>

<div class="banner">
  <div class="logo">
    <img src="/../../assets/images/logo.png">
  </div>

  <div class="nav-bar">
      <ul class="nav-links">
        <li>Piano</li>
        <li>All harmonies</li>
        <li>About us</li>
      </ul>

      <ul class="login-links">
        <div class="pink-oval">
          <li class="login">Create user</li>
        </div>
        <div class="pink-oval">
          <li class="login">login</li>
        </div>
      </ul>
  </div>
</div>
<%= render 'shared/piano' %>
<%= javascript_pack_tag 'chord', 'data-turbolinks-track': 'reload', defer: true %>


