
<%= render 'shared/navbar' %>

<div class="box">
  <div class="vertical-bar">
    <div>
      <p class="head">Don't know what to play?</p>
       <p class="head">Try our auto suggest:</p>
    </div>
  
  <%= render 'shared/vertical-choices' %>
  <%= render 'shared/piano' %>
</div>