
<%= render 'shared/navbar' %>

<div class='overall-container'>
  <%= render 'shared/vertical_bar' %>

  <div class="box">
    <div class="info">
      <h1>Info here:</h1>
    </div>
    <%= render 'shared/piano' %>
  </div>

<div>







