
<%= render 'shared/navbar' %>

<div class="box">
  <div class="vertical-bar">
    <div>
      <p class="head">Don't know what to play?</p>
       <p class="head">Try our auto Suggest:</p>
    </div>
    <div class="choices">
      <div class="choice-btn">
        <%= link_to "major triad", major_triad_path %><br>
      </div>

      <div class="choice-btn">
        <%= link_to "tritone", tritone_path %>
      </div>
    </div>

  </div>

  <%= render 'shared/piano' %>
</div>
