<%= render 'shared/navbar' %>

<div id='below-navbar'>
  <div id='left-block'>
	<div id="titile-big">Composer's <br>
	Portable Piano</div>
	<div id='title-small'>Get inspired anytime, anywhere</div>
    <button class="btn-unicorn">
      <%= link_to "Play Now", home_path %>
    </button>
  </div>
  <%= image_tag 'landing-page-pic.png', alt: "landing-page-pic", id: "landing-page-pic"%>
</div>


