.btn-unicorn {
  font-size: 20px;
  background-color: #FFA2A2;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-unicorn:hover {
  background-image: linear-gradient(90deg, #B5EAEA 0%, #FFE194 49%, #FFBCBC 80%, #B5EAEA 100%);
  a {
    color: #2E294E;
    font-weight: 600;
  }
}

.choice-btn {
  padding-top: 20px;
  padding-right: 15px;
}

.choice-btn a {
  text-decoration: none;
  font-size: 20px;
  color: #4C4C6D;
  width: fit-content;
  transition: background 1000ms ease 0s;
    &:hover {
    border-bottom: rgba(200, 200, 200, 0.5) 1px solid;
    transition: .5s;
  }
}
