.info {
  text-align: center;
  color:grey;
  display:  flex;
  width: 1000px;
  justify-content: space-around;
}

.left-box {
  background-color: #362E65;
  color: #CDC5C5;
  height: 230px;
  flex-grow: 1;
  margin-right: 30px;
  border-radius: 10%;
  padding: 15px;
/*  display: flex;*/
  justify-content: center;
  align-items: center;
}

.words {
  font-size: 20px;
  margin-top: 20px;
  padding: 20px;
}

.show-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: gold;
}

.right-box {
  font-size: 20px;
  color: white;
  background-color: #C60F7B;
  height: 230px;
  flex-grow: 3;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
