ul {
  display: flex;
}

li {
  list-style:none;
  margin-right: 10px;
}

.logo-pic {
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.pink-btn {
  color: white;
  background-color: #FFA2A2;
  padding: 5px 15px 5px 15px;
  border-radius: 40px;
}
