/*.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}*/

.banner {
  margin: 50px 100px 0 50px ;
  background-color: white;
  height: 75px;
}

.logo {
  width: 150px;
  height: 75px;
}

.my-logo {
  margin-top: 10px;
   width: 200%;
   height: 100%;
   object-fit: contain;
}

.nav-bar {
  display: block;
  justify-content: space-between;
  width: auto;
  display: flex;
  // border: 1px solid orange;
}


ul {
  display: flex;
}

ul.login-links {
  justify-content: center;
  align-items: center;
}

li {
  padding-top: 25px;
  padding-left: 50px;
  list-style: none;
  color: #FFA2A2;
}

li.login {
  color: white;
  background-color: #FFA2A2;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  align-content: center;
  border-radius: 40px;
}
