.piano {
  width: 1100px;
  display: flex;
  position:absolute;
  top: 25em;
  justify-content: center;
  border-radius: 10px;
}

.key {
  list-style:none;
  position:relative;
  float:left;
  height: calc(var(--width) * 3.8);
  width: var(--width);

}

.white {
  z-index: 1;
  --width: 80px;
  background-color: white;
  border: 1px solid #333;
  border-top: 1px solid rgba(32,32,32,.2);
  border-right: 1px solid rgba(32,32,32,.3);
  border-bottom: 1px solid rgba(32,32,32,.3);
  border-radius: 5px;
  box-shadow: 0 8px 1px rgba(32, 32, 32, 0.2);


}

.white.active {
  background-color: #CCC;
  margin-top: 10px;
}

.black {
  --width: 50px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  border-radius: 3px 3px 8px 8px;
}

.black.active {
  background-color: #333;
  margin-top: 10px;
}

p.blackkey-word {
  color: white;
  margin-left: 15px;
  margin-top: 130px;
  font-size: 20px;
}

p.whitekey-word {
  color: grey;
  margin-left: 25px;
  margin-top: 250px;
  font-size: 20px;
}






