.top-part {
  position: relative;
  z-index: 1;
}

.pop-up {
  position: absolute;
  z-index: 99;
  top: 8em;
  pointer-events: none;
}

.videobox {
  box-sizing: content-box;
  background-color: #F9DFDC;
  font-size: 15px;
  padding: 30px;
  border: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  margin: 30px;
}

.p-info {
  text-align: left;
  margin-left: 20em;
}

h1 {
text-align: center;
margin-top: 30px;
}

.pieces {
  padding: 10px;
}


.button {
  background-color: #FFA2A2;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

#close:hover {
  background-color: lightgrey;
}

.open-btn {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#open {
  border-radius: 10px;
}

#open:hover {
  background-image: linear-gradient(90deg, #B5EAEA 0%, #FFE194 49%, #FFBCBC 80%, #B5EAEA 100%);
  font-weight: 500;
  border: 3px, solid, black;
}

.videobox.show {
  pointer-events: auto;
  opacity: 1;
}
