.vertical-bar {
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;

  width: 350px;
  font-size: 18px;
}

.choice-btn a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
  width: fit-content;
}

.scroll-part {
  //background-color:#FAFAFA;
  width: 250px;
  height: 300px;
  overflow-y: scroll;
}

.scroll-part::-webkit-scrollbar {
    display: none;
}

.scroll-part {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#home {
  font-weight: bold;
}




